<p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-5 px-5 px-sm-0 mx-auto">
      <div class="mx-auto">
        <div style="text-align:center;">
          <h1>About</h1>
          <div class="photo">
          	<img alt="airplane" height="400" src="/assets/airplane.jpg" width="500" />
          	<p class="text">Trippers-appは旅人同士が観光地情報を共有できるサイトです。</br>
            観光ガイドに載っていないコアな場所を紹介したり、</br>
            これからの旅の参考とすることができます。
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5 mx-auto" >
        <!--<img alt="airplane" height="400" src="/assets/airplane.jpg" width="500" />-->
    </div>
  </div>