<div class="containar">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">All post</h5>
      <div class="button">
          <i class="fas fa-pen"><%= link_to "new post", new_post_image_path %></i></div>

      </div>
     </div>
    </div>
    <%= render 'post_images/list', post_images: @post_images %>